/*Text Colours*/
$text-muted: #c2c2c2;
$light: #fdfdfd;
$subtleLight: #e4e4e4;
$primary: #ff624e;
$secondary: #232f55;
$grey2: #495057;
$dark: #343a40;

/*Breakpoints*/
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

h1, h2, h3, h4, h5, h6{
    color: $light;
    font-weight: 600 !important;
}
.menu-item h5, .menu-item-L h5{
    color: $subtleLight;
}
h1{
    font-size: 55px !important;
}
.nav-pills .nav-link.active{
    color: $dark !important;
    background-color: $primary !important;
    font-weight: 700;
}
.nav-pills .nav-link.active:hover{
    color: $dark !important;
}
.nav-pills .nav-link{
    color: $primary;
}
.text-muted{
    color: $text-muted !important;
}
.navbar .nav-link{
    color: $subtleLight !important;
}
.navbar .nav-link:hover{
    color: darken($subtleLight, 25%) !important;
}
.navbar .btn{
    font-weight: 700;
}
.link-muted {
    color: $text-muted;
}
.link-muted:hover {
    color: darken($text-muted, 25%);
}
.link-muted:focus{
    color: $light;
}
.footer{
    background-color: #050505;
}
.footer .text-muted{
    color: darken($text-muted, 15%) !important;
}
.menu-pricing h4{
    color: $text-muted;
    font-weight: 100 !important;
}
.menu-pricing span{
    color: $subtleLight !important;
    font-weight: 600;
}

.bg-header-pizza{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/bgHeader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
}
.bg-header-overlay{
    background-image:    linear-gradient(to left, rgba(17, 17, 19, 0)75%, rgba(17, 17, 19, 0.5)),    
}
.halal-logo{
    right:5px;
    bottom:5%;
}

.modal .btn-close{
    height:40px;
    width:40px;
    right:5px;
    top:5px;
    position:absolute;
    border:0px;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat center center/1em auto;
}
.modal .btn-close:hover{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat center center/1em auto;
}
.modal-content{
    background: $grey2 !important;
}

/*menu item cards*/
.menu-item .card-img-top{
    top:0;
    position:absolute;
    /*clip-path: polygon(0%0%, 0% 50%, 100% 50%, 100% 0%);*/
    opacity: 1;
    transition: 0.3s ease-in;
    width:80% !important;
    left:10%;
    right:10%;
}
.menu-item .card-body{
    top:52%;
    position:absolute;
}
.menu-item .card{
    padding-top:150%;
    transition: 0.3s ease-in;
}
.menu-item .card-body{
    background: none !important;
    transition: 0.3s ease-in;
}
.menu-item .card, .menu-item-L .card{
    border: 1px solid $dark !important;
    background: $dark !important;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    transition: 0.3s ease-in;
}
.menu-item .card:hover, .menu-item-L .card:hover{
    border: 1px solid $grey2 !important;
    background: $grey2 !important;
    overflow: visible;
}
.menu-item img{
    border-radius: 5px;
    margin-top:2%;
}
.menu-item-L img{
    border-radius: 5px;
    position:relative;
    float:left;
    width:100%;
    width:90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}



.card{
    border: 1px solid $grey2 !important;
    background: $grey2 !important;
}
nav .nav{
    background:$grey2 !important;
    border:1px solid $grey2 !important;
    border-radius: 0.25rem;
}
.nav-nested a{
    display:none;
}
.nav-pizza-parent.active + .nav-nested a{
    display:block;
}
.nav-mains-parent.active + .nav-nested a{
    opacity:1;
    display:block;
}
.side-nav {
    top:100px !important;
}

.navbar-toggler{
    border: 1px solid $dark !important;
}
.navbar-toggler:hover{
    border: 1px solid $subtleLight !important;
}
.navbar-toggler:active{
    border: 1px solid darken($subtleLight, 25%) !important;
}
.navbar-toggler:focus{
    border: 1px solid $primary !important;
}
.navbar-brand img{
    height:70px;
    width:auto;
}
.uber-eats-button{
    background-color: #3FC060 !important;
    color: $light !important;
}
.uber-eats-button:hover{
    background-color: darken(#3FC060, 15%) !important;
    color: darken($light, 5%) !important;
}
.uber-eats-button:active{
    background-color: #162328 !important;
}

@media (min-width:$lg) and (max-width: $xl){
    .menu-item .card:hover .card-body{
        top:0%;
    }
    .menu-item .card:hover .card-img-top{
        opacity:0.2;
    }
}
@media (max-width: $lg){
    .menu-item .card-img-top{
        left:2%;
        width:30% !important;
        top:5%;
        transition: 0s ease-in;
    }
    .menu-item .card{
        padding-top:40%;
        transition: 0s ease-in;
    }
    .menu-item .card-body{
        top:0%;
        left:35%;
        transition: 0s ease-in;
    }
    .menu-item-L img{
        top:5%;
        width: 85%;
        left: 9%;
    }
}
@media (max-width: $md){
    .menu-item .card-img-top{
        display:none;
    }
    .menu-item .card{
        padding-top:50%;
        transition: 0s ease-in;
    }
    .menu-item .card-body{
        top:0%;
        left:0%;
        transition: 0s ease-in;
    }
}

.hide-overflow{
    overflow:hidden;
}
.deals-menu p{
    padding: 0;
    margin: 0;
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 99999;
    padding: 0px;
    padding-bottom: 8px;
    width:50px;
    height: 50px;
    background-color: $primary;
}
#toTopBtn svg{
    fill: $dark;
}
#toTopBtn:hover {
    background-color: darken($primary, 20%);
}

@import "../../node_modules/bootstrap/scss/bootstrap";
